<form [formGroup]="nuevaPregunta">
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Ingrese la Pregunta" formControlName="titulo">
        <span class="text-danger" *ngIf="nuevaPregunta.get('titulo')?.hasError('required') && nuevaPregunta.get('titulo')?.touched">
            La pregunta <strong>es requerida</strong>
        </span>
    </div>
    <div formArrayName="respuestas" *ngFor="let item of getRespuestas.controls; let i = index">
        <div class="input-group mb-3" [formGroupName]="i">
            <input type="text" class="form-control" placeholder="Respuesta {{ i + 1 }}" formControlName="descripcion">
            <span class="input-group-text" id="basic-addon2">
                <input type="radio" name="esCorrecta" (change)="setRespuestaValida(i)" [value]="1" formControlName="esCorrecta">
            </span>
            <span class="material-symbols-outlined delete-icon" (click)="eliminarRespuesta(i)">
                delete
            </span>
        </div>
        <span class="text-danger" *ngIf="item.get('descripcion')?.hasError('required') && item.get('descripcion')?.touched">
            La respuesta <strong>es requerida</strong>
        </span>
    </div>
    <span class="material-symbols-outlined add-icon" (click)="agregarRespuesta()">
        add
    </span>
    <br><br>
    <button class="btn btn-primary float-right" (click)="agregarPregunta()" [disabled]="nuevaPregunta.invalid">Agregar</button>
</form>